@page "/pathfinder"
@using AlgorithmVisualiser.Web.Helpers
@using AlgorithmVisualiser.Web.Models

<PageTitle>PathFinders</PageTitle>

<h1>PathFinders</h1>

<p>Path Finding Algorithms!!!</p>

<button class="btn btn-primary" @onclick="Bfs">Breadth First Search</button>

@if (_nodes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="maze">
        @foreach (var node in _nodes)
        {
            <div class="maze-node" style=@node.Style>@node.Value @node.Column @node.Row</div>
            if (node.Row >= MaxRowSize)
            {
                <div class="line-break"></div>
            }
        }
    </div>
}

@code {
    private GraphNode[]? _nodes;
    private const int MaxRowSize = 10;
    private List<(int Column, int Row)>? _directions;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        Randomise();
        _directions = new List<(int, int)> { (1, 0), (0, 1), (1, 1), (-1, 0), (0, -1), (-1, -1) };
        AddNodePositions();
        AddAllConnections();
    }

    private void Randomise()
    {
        _nodes = NodesHelpers.Create100GraphNodes();
    }

    private void AddAllConnections()
    {
        if (_nodes == null) return;
        if (_directions == null) return;

        foreach (var node in _nodes)
        {
            foreach (var direction in _directions)
            {
                var nextNodeColumn = node.Column + direction.Column;
                var nextNodeRow = node.Row + direction.Row;

                var nextNode = _nodes.FirstOrDefault(n => n.Column == nextNodeColumn && n.Row == nextNodeRow);

                if (nextNode != null)
                {
                    node.AddConnection(nextNode);
                }
            }
        }
    }

    private void AddNodePositions()
    {
        if (_nodes == null) return;
        var rowIdx = 0;
        var columnIdx = 0;

        foreach (var node in _nodes)
        {
            node.AddColumnIdx(columnIdx);
            node.AddRowIdx(rowIdx);
            rowIdx++;

            if (rowIdx >= MaxRowSize)
            {
                columnIdx++;
                rowIdx = 0;
            }
        }
    }

    private async Task Bfs()
    {
        if (_nodes == null) return;

        var node = await BreadthFirstSearch(_nodes[10], "89");
        if (node == null)
        {
            Console.WriteLine("Node Not found");
        }

        node.AddFoundStyle();
        StateHasChanged();
        await Task.Delay(25);

        Console.WriteLine($"{node.Column}, {node.Row}, {node.Value}");
    }

    private async Task<GraphNode?> BreadthFirstSearch(GraphNode startingNode, string pin)
    {
        var visited = new HashSet<string>();
        var queue = new Queue<GraphNode>();

        queue.Enqueue(startingNode);
        visited.Add(startingNode.Value);
        startingNode.AddVisitedStyle();
        StateHasChanged();
        await Task.Delay(25);

        GraphNode? result = null;
        while (queue.Count > 0)
        {
            var node = queue.Dequeue();
            if (node.Value == pin)
            {
                result = node;
                break;
            }

            foreach (var edge in node.Connections)
            {
                if (edge == null || visited.Contains(edge.Value))
                {
                    continue;
                }

                visited.Add(edge.Value);
                queue.Enqueue(edge);
                edge.AddVisitedStyle();
                StateHasChanged();
                await Task.Delay(25);
            }
        }

        return result;
    }

}
